# Turn Rewrite Engine On
RewriteEngine on
Options -MultiViews

# Rewrite for URL redirection for example login.php
# [NC , L] NC - makes the rule non case sensitive
# L makes tis the last rule that this specific condition will match
RewriteRule ^login user_management/login.php [L,QSA,NC]
RewriteRule ^forgotpwd user_management/forgot-password.php [L,QSA,NC]
RewriteRule ^changepwd user_management/changePassword.php [L,QSA,NC]
RewriteRule ^newpwd user_management/new-password.php [L,QSA,NC]
RewriteRule ^resetcode user_management/reset-code.php [L,QSA,NC]
RewriteRule ^pwdchanged user_management/password-changed.php [L,QSA,NC]
RewriteRule ^usrotp user_management/user-otp.php [L,QSA,NC]
RewriteRule ^home index.php [L,QSA,NC]
RewriteRule ^sysmaint maintenance.php [L,QSA,NC]
RewriteRule ^callback Callback.php [L,QSA,NC]

# User Profile/Settings
RewriteRule ^profile configurations/profile/cProfile.php [L,QSA,NC]
RewriteRule ^activity configurations/activity/cActivity.php [L,QSA,NC]
RewriteRule ^logout user_management/logout.php [L,QSA,NC]

#User Management
RewriteRule ^contact user_management/contact/cContact.php [L,QSA,NC]
RewriteRule ^employ user_management/employee/cEmployee.php [L,QSA,NC]
RewriteRule ^users user_management/user/cUser.php [L,QSA,NC]

#Reports
RewriteRule ^stock-rpt reports/current_stock/cCurrent_stock.php [L,QSA,NC]
RewriteRule ^outwardleases-rpt reports/outward_leases/coutwardlease_stock.php [L,QSA,NC]
RewriteRule ^inwardleases-rpt reports/inward_leases/cinwardlease_stock.php [L,QSA,NC]

#Configurations
RewriteRule ^customer configurations/customer/cCustomer.php [L,QSA,NC]
RewriteRule ^vendor configurations/vendor/cVendor.php [L,QSA,NC]

RewriteRule ^lessor lease_management/lessor/cLessor.php [L,QSA,NC]
RewriteRule ^warehouse lease_management/warehouse/cWarehouse.php [L,QSA,NC]

RewriteRule ^delivery lease_management/delivery/cDelivery.php [L,QSA,NC]
RewriteRule ^commodity lease_management/commodity/cCommodity.php [L,QSA,NC]
RewriteRule ^miller lease_management/miller/cMiller.php [L,QSA,NC]

#Lease Management
RewriteRule ^manage-compartment lease_management/compartment/cCompartment.php [L,QSA,NC]
RewriteRule ^outward-lease lease_management/outwardlease/cOutwardlease.php [L,QSA,NC]
RewriteRule ^inward-lease lease_management/inwardlease/cInwardlease.php [L,QSA,NC]

#Stock Management
RewriteRule ^inward-stock stock_management/inwardstock/cInwardstock.php [L,QSA,NC]
RewriteRule ^outward-stock stock_management/outwardstock/cOutwardstock.php [L,QSA,NC]

#Security
RewriteRule ^user-permissions security/userpermissions/cUserpermissions.php [L,QSA,NC]
RewriteRule ^user-roles security/userroles/cUserroles.php [L,QSA,NC]
RewriteRule ^contact/([0-9]+)$ contact?action=contact-edit/id=$1 [L,QSA,NC]

### Admin Pages 
#Admin - Masters
RewriteRule ^admstatus admin/status/cStatus.php [L,QSA,NC]
RewriteRule ^admctype admin/contacttype/cContacttype.php [L,QSA,NC]
RewriteRule ^admcctype admin/costcentertype/cCostcentertype.php [L,QSA,NC]
RewriteRule ^admcountry admin/country/cCountry.php [L,QSA,NC]
RewriteRule ^admstate admin/state/cState.php [L,QSA,NC]
RewriteRule ^admcity admin/city/cCity.php [L,QSA,NC]
RewriteRule ^admdept admin/department/cDepartment.php [L,QSA,NC]
RewriteRule ^admdesig admin/designation/cDesignation.php [L,QSA,NC]
RewriteRule ^admenti admin/entity/cEntity.php [L,QSA,NC]
RewriteRule ^admcost admin/costcenter/cCostcenter.php [L,QSA,NC]
#Admin - User Managerment
RewriteRule ^admpages admin/pages/cPages.php [L,QSA,NC]
RewriteRule ^admroles admin/userroles/cUserroles.php [L,QSA,NC]
RewriteRule ^admperms admin/userpermissions/cUserpermissions.php [L,QSA,NC]
#Admin pages
RewriteRule ^admhome admin/adm_index.php  [L,QSA,NC]
RewriteRule ^admlogin admin/adm_login.php [L,QSA,NC]
#RewriteRule ^adminhome admin/adminindex.php [L,QSA,NC]
